{%  include 'layouts/login_header.html' %}

<body class="hold-transition login-page" background="{{ url_for("static", filename="dist/img/login_background.png") }}">
    <div class="wrapper">
        {% block content %}

        {% endblock %}
    </div>
</body>
<!-- jQuery -->
<script src="{{ url_for("static", filename="plugins/jquery/jquery.min.js") }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ url_for("static", filename="plugins/jquery-ui/jquery-ui.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/jquery-mask/dist/jquery.mask.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/signature-pad-main/jquery.signaturepad.js") }}"></script>
<script src="{{ url_for("static", filename="dist/js/custom.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/signature-pad-main/assets/json2.min.js") }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>