  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('home.index') }}" class="brand-link">
      <img src="{{ url_for("static", filename="dist/img/logo.png") }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">JIS Erp</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{{ url_for('home.index') }}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                Inicio
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-bullhorn"></i>
              <p>
                Publicidad
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('news.index') }}" class="nav-link">
                  <i class="fas fa-newspaper nav-icon"></i>
                  <p>Noticias</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item ">
            <a href="{{ url_for('personal_data.show', rut=current_user.rut) }}" class="nav-link">
              <i class="nav-icon fas fa-circle-user"></i>
              <p>
                Datos Personales
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Documentación
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('documentations.index') }}"  class="nav-link">
                  <i class="far fa-plus nav-icon"></i>
                  <p>Nueva</p>
                </a>
              </li>
              {% for title in documentation_titles_menu %}
                <li class="nav-item">
                  <a href="{{ url_for('documentations.show', id=title.documentation_id) }}"  class="nav-link">
                    <i class="fas fa-check nav-icon"></i>
                    <p style="font-size: 12px;">{{ title.title|truncate(22) }}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item has-treeview menu-close">
            <a href="{{ url_for('auth.logout') }}" class="nav-link">
              <i class="nav-icon fas fa-times"></i>
              <p>
                Salir
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>