<nav class="navbar navbar-expand navbar-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ url_for('personal_data.show') }}/{{ employee.id }}" class="nav-link">Datos Personales</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ url_for('contract_data.show') }}/{{ employee.id }}" class="nav-link">Datos de Contrato</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Datos de Nucleo Familiar</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Solicitudes</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Kardex</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Liquidaciones</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Vacaciones</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="../../index3.html" class="nav-link">Licencias</a>
        </li>
    </ul>
</nav>