<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos de Contrato</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" action="{{ url_for('contract_data.update') }}/{{ contract_datum.rut }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tipo de Contrato</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Sucursal</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Region</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Comuna</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Dirección</label>
                                            <input type="text" value="{{ contract_datum.address }}" class="form-control" id="exampleInputEmail1" placeholder="Dirección" name="address">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Estado Civil</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Isapre o Fonasa</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">AFP</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Puesto Laboral</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id">
                                                <option value="1">- Seleccionar -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Fecha de Entrada</label>
                                            <input type="date" value="{{ contract_datum.entrance_date }}" class="form-control" id="exampleInputEmail1" placeholder="Fecha de Entrada" name="entrance_date">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Fecha de Salida</label>
                                            <input type="date" value="{{ contract_datum.exit_date }}" class="form-control" id="exampleInputEmail1" placeholder="Fecha de Salida" name="exit_date">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Salario</label>
                                            <input type="text" value="{{ contract_datum.salary }}" class="form-control" id="exampleInputEmail1" placeholder="Salario" name="salary">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Colación</label>
                                            <input type="text" value="{{ contract_datum.collation }}" class="form-control" id="exampleInputEmail1" placeholder="Colación" name="collation">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Movilización</label>
                                            <input type="text" value="{{ contract_datum.locomotion }}" class="form-control" id="exampleInputEmail1" placeholder="Movilización" name="locomotion">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" value="{{ contract_datum.rut }}" class="form-control" id="exampleInputEmail1" name="id">
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Actualizar</button>

                                <a href="{{ url_for('employees.index') }}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>