<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Agregar Licencia Médica</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" action="{{ url_for('medical_licenses.store') }}/{{ rut }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Folio</label>
                                            <input type="text" value="" class="form-control" id="exampleInputEmail1" placeholder="Folio" name="folio">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tipo de Licencia Médica</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="medical_license_type_id">
                                                <option value="">- Seleccionar -</option>
                                                {% for medical_license_type in medical_license_types %}
                                                    <option value="{{ medical_license_type.id }}">{{ medical_license_type.medical_license_type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tipo de Documento</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="patology_type_id">
                                                <option value="">- Seleccionar -</option>
                                                {% for patology_type in patology_types %}
                                                    <option value="{{ patology_type.id }}">{{ patology_type.patology_type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Desde</label>
                                            <input type="date" value="" class="form-control" id="exampleInputEmail1" placeholder="Desde" name="since">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Hasta</label>
                                            <input type="date" value="" class="form-control" id="exampleInputEmail1" placeholder="Hasta" name="until">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <input type="hidden" value="{{ rut }}" class="form-control" id="exampleInputEmail1" name="rut">
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>

                                <a href="{{ url_for('medical_licenses.index') }}/{{ rut }}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>