<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style type="text/css">
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            .page-break {
                page-break-after: always;
            }
        </style>
    </head>
    <body>
        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    {%  include 'layouts/logo.html' %}
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <td><h3><center>HORARIO LABORAL</center></h3></td>   
                </tr>
            </thead>
        </table>
        <hr>
        <table class="table" style="width:100%;">
            <tbody>
                <tr>
                    <td style="text-align: justify;">
                        <table style="width:100%;">
                            <tr>
                                <th><center>N° del Turno</center></th>
                                <th><center>RUT</center></th>
                                <th><center>Fecha</center></th>
                                <th><center>Horas Totales del Día</center></th>
                                <th><center>Inicio Turno</center></th>
                                <th><center>Fin Turno</center></th>
                                <th><center>Semana</center></th>
                            </tr>
                            <tr>
                                <td colspan="7"><hr></td>
                            </tr>
                            {% for multiple_datum in multiple_data %}
                                {% if multiple_datum['turn_id'] == 0 %}
                                    <tr style="background-color: red; color: white;">
                                        <td style="background-color: red; color: white;"><center>{{ multiple_datum['turn_id'] }}</center></td>
                                        <td style="background-color: red; color: white;"><center>{{ multiple_datum['visual_rut'] }}</center></td>
                                        <td style="background-color: red; color: white;"><center>{{ multiple_datum['date']|datetime("dd-MM-yyyy") }}</center></td>
                                        <td style="background-color: red; color: white;"><center>Libre</center></td>
                                        <td style="background-color: red; color: white;"><center>Libre</center></td>
                                        <td style="background-color: red; color: white;"><center>Libre</center></td>
                                        <td style="background-color: red; color: white;"><center>{{ multiple_datum['week'] }}</center></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td><center>{{ multiple_datum['turn_id'] }}</center></td>
                                        <td><center>{{ multiple_datum['visual_rut'] }}</center></td>
                                        <td><center>{{ multiple_datum['date']|datetime("dd-MM-yyyy") }}</center></td>
                                        <td><center>{{ multiple_datum['total_hours'] }}</center></td>
                                        <td><center>{{ multiple_datum['start'] }}</center></td>
                                        <td><center>{{ multiple_datum['end'] }}</center></td>
                                        <td><center>{{ multiple_datum['week'] }}</center></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="7"><hr></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br><br>
                        <table style="width:100%;">
                            <tr>
                                <th><center>N° de Semana</center></th>
                                <th><center>Horas de Trabajo</center></th>
                                <th><center>Días Libres</center></th>
                            </tr>
                            <tr>
                                <td colspan="7"><hr></td>
                            </tr>
                            {% for total_datum in total_data %}
                                <tr>
                                    <td><center>{{ total_datum.week }}</center></td>
                                    <td><center>{{ total_datum.total_hours }}</center></td>
                                    <td><center>{{ total_datum.total_free_days }}</center></td>
                                </tr>
                                <tr>
                                    <td colspan="7"><hr></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br><br>

                        {%  include 'layouts/signature.html' %}
                    </td>
                </tr>
            </tbody>
        </table>
     </body>
</html>