<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style type="text/css">
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    {%  include 'layouts/logo.html' %}
                </tr>
            </thead>
        </table>
        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <td><h3><font style="font-family:arial;"><center> CARTA DE AMONESTACIÓN</center></font></h3></td>   
                </tr>
            </thead>
        </table>
        <hr>
        <table class="table" style="width:100%;">
            <tbody>
                <tr>
                    <td style="text-align: justify;">
                        Nos permitimos comunicar a usted <strong>{{ data[0] }}</strong> cédula nacional de identidad número <strong>{{ data[1] }}</strong> que: <strong>{{ data[2] }}</strong>. Constituye una falta a las obligaciones que le impone el contrato de trabajo,
                        situación que es de su conocimiento y que además se encuentra contemplada en el reglamento interno de orden higiene y
                        seguridad de la empresa.<br><br>
                        Por la presente carta de amonestación se requiere el estricto cumplimiento de las instrucciones dadas por su jefatura, de lo
                        contrario se adoptarán las medidas pertinentes. Inclusive la terminación del contrato de trabajo.<br><br>
                        Saludos a usted.
                    </td>
                </tr>
            </tbody>
        </table>
        {%  include 'layouts/signature.html' %}
     </body>
</html>