<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Revisar Datos de Contrato</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="alert alert-warning alert-danger-form" role="alert">
                            Solo podrá ver los datos y revisar que todo este correcto más <strong> NO editarlos </strong>. Para ello debe ir a la vista anterior.
                        </div>
                        <!-- form start -->
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tipo de Contrato</label>
                                        <select class="form-control select2 select2-danger" id="contract_type_id" data-dropdown-css-class="select2-danger" style="width: 100%;" name="contract_type_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for contract_type in contract_types %}
                                                <option {% if contract_type.id == contract_datum.contract_type_id %} selected {% endif %} value="{{ contract_type.id }}">{{ contract_type.contract_type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Sucursal</label>
                                        <select class="form-control select2 select2-danger" id="branch_office_id" data-dropdown-css-class="select2-danger" style="width: 100%;" name="branch_office_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for branch_office in branch_offices %}
                                                <option {% if branch_office.id == contract_datum.branch_office_id %} selected {% endif %} value="{{ branch_office.id }}">{{ branch_office.branch_office }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Region</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="region_id" name="region_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for region in regions %}
                                                <option {% if region.id == contract_datum.region_id %} selected {% endif %} value="{{ region.id }}">{{ region.region }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Comuna</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="commune_id" name="commune_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for commune in communes %}
                                                <option {% if commune.id == contract_datum.commune_id %} selected {% endif %} value="{{ commune.id }}">{{ commune.commune }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Dirección</label>
                                        <input type="text" value="{{ contract_datum.address }}" class="form-control" id="address" placeholder="Dirección" name="address" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Estado Civil</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" id="civil_state_id" style="width: 100%;" name="civil_state_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for civil_state in civil_states %}
                                                <option {% if civil_state.id == contract_datum.civil_state_id %} selected {% endif %} value="{{ civil_state.id }}">{{ civil_state.civil_state }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tipo de Jornada</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="employee_type_id" name="employee_type_id" disabled>
                                             <option value="">- Seleccionar -</option>
                                            {% for employee_type in employee_types %}
                                                <option {% if employee_type.id == contract_datum.employee_type_id %} selected {% endif %} value="{{ employee_type.id }}">{{ employee_type.employee_type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cargo</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" id="job_position_id" style="width: 100%;" name="job_position_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for job_position in job_positions %}
                                                <option {% if job_position.id == contract_datum.job_position_id %} selected {% endif %} value="{{ job_position.id }}">{{ job_position.job_position }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            Fecha de Contrato
                                            &nbsp;
                                            <button type="button" class="btn btn-warning help-button" data-toggle="tooltip" data-placement="top" title="Fecha de inicio del contrato de trabajo">
                                                <i class="fa-solid fa-question"></i>
                                            </button>
                                        </label>
                                        <input type="date" value="{{ contract_datum.entrance_company }}" class="form-control" id="entrance_company" placeholder="Fecha de Entrada" name="entrance_company" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Salario</label>
                                        <input type="text" value="{{ contract_datum.salary }}" class="form-control money_value" id="salary" placeholder="Salario" name="salary" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colación</label>
                                        <input type="text" value="{{ contract_datum.collation }}" class="form-control money_value" id="collation" placeholder="Colación" name="collation" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Movilización</label>
                                        <input type="text" value="{{ contract_datum.locomotion }}" class="form-control money_value" id="locomotion" placeholder="Movilización" name="locomotion" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Regimen Previsional</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="regime_id" name="regime_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            <option {% if 1 == contract_datum.regime_id %} selected {% endif %} value="1">AFP</option>
                                            <option {% if 2 == contract_datum.regime_id %} selected {% endif %} value="2">IPS (Ex-INP)</option>
                                            <option {% if 3 == contract_datum.regime_id %} selected {% endif %} value="3">Sin Institución Previsional (SIP)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Isapre o Fonasa</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="health_id" name="health_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for health in healths %}
                                                <option {% if health.id == contract_datum.health_id %} selected {% endif %} value="{{ health.id }}">{{ health.health }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fecha de Entrada a la Salud</label>
                                        <input type="date" value="{{ contract_datum.entrance_health }}" class="form-control" id="entrance_health" placeholder="Entrada a la Salud" name="entrance_health" disabled>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row" id="regime_afp">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">AFP</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="pention_id" name="pention_id" disabled>
                                            <option value="">- Seleccionar -</option>
                                            {% for pention in pentions %}
                                                <option {% if pention.id == contract_datum.pention_id %} selected {% endif %} value="{{ pention.id }}">{{ pention.pention }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fecha de Entrada a la AFP</label>
                                        <input type="date" value="{{ contract_datum.entrance_pention }}" value="00-00-0000" class="form-control" id="entrance_pention" placeholder="Fecha Entrada AFP" name="entrance_pention" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tipo de Pago APV</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="apv_payment_type_id" name="apv_payment_type_id" disabled>
                                            <option {% if 3 == contract_datum.apv_payment_type_id %} selected {% endif %} value="3">Ninguno</option>
                                            <option {% if 1 == contract_datum.apv_payment_type_id %} selected {% endif %} value="1">$</option>
                                            <option {% if 2 == contract_datum.apv_payment_type_id %} selected {% endif %} value="2">UF</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Monto de la APV</label>
                                        <input type="text" value="{{ contract_datum.apv_amount }}" class="form-control" id="apv_amount" placeholder="Monto de la APV" name="apv_amount" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="health_company">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tipo de Pago de Salud</label>
                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" id="health_payment_id" name="health_payment_id" disabled>
                                            <option value="0">- Seleccionar -</option>
                                            <option {% if 1 == contract_datum.health_payment_id %} selected {% endif %} value="1">$</option>
                                            <option {% if 2 == contract_datum.health_payment_id %} selected {% endif %} value="2">UF</option>
                                            <option {% if 3 == contract_datum.health_payment_id %} selected {% endif %} value="3">Ninguno</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Monto Extra Salud</label>
                                        <input type="text" value="{{ contract_datum.extra_health_amount }}" class="form-control" id="extra_health_amount" placeholder="Monto Extra Salud" name="extra_health_amount" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" value="{{ contract_datum.rut }}" class="form-control" id="rut" name="rut">
                            

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <form role="form" action="{{ url_for('contract_data.generate') }}" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button type="submit" id="create-contract" class="btn btn-success">Generar</button>
                                        <input type="hidden" name="rut" value="{{ rut }}">
                                        <input type="hidden" name="document_type_id" value="21">
                                        <input type="hidden" name="status_id" value="3">
                                        <a href="{{ url_for('contract_data.show', rut=rut) }}" class="btn btn-danger">
                                            Regresar
                                        </a> 
                                    </form>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>