{% from 'human_resource/macro/_pagination.html' import m_pagination %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>RUT</th>
                                <th>Empleado</th>
                                <td></td>
                            </tr>
                        </thead>
                        {% for employee in employees.items %}
                            <tbody>
                                <tr>
                                    <td>{{ employee['visual_rut'] }}</td>
                                    <td>{{ employee['nickname'] }}</td>
                                    <td>
                                        <a title="Datos Personales" href="{{ url_for('personal_data.show') }}/{{ employee['rut'] }}" class="btn btn-warning">
                                            <i class="fa fa-id-card"></i>
                                        </a>
                                        <a title="Datos de Contrato" href="{{ url_for('contract_data.show') }}/{{ employee['rut'] }}" class="btn btn-success">
                                            <i class="fa fa-file-contract"></i>
                                        </a>
                                        <a title="Datos Extras" href="{{ url_for('employee_extra_data.show') }}/{{ employee['rut'] }}" class="btn btn-dark">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a title="Núcleo Familiar" href="{{ url_for('family_core_data.index') }}/{{ employee['rut'] }}" class="btn btn-primary">
                                            <i class="fas fa-user-group"></i>
                                        </a>
                                        <a title="Kardex" href="{{ url_for('kardex_data.index', rut=employee['rut'] ) }}" class="btn btn-secondary">
                                            <i class="fa fa-file"></i>
                                        </a>
                                        <a title="Uniforme" href="{{ url_for('uniforms.index', rut = employee['rut']) }}" class="btn btn-warning">
                                            <i class="fa-solid fa-shirt"></i>
                                        </a>
                                        <a title="Vacaciones" href="{{ url_for('vacations.index') }}/{{ employee['rut'] }}" class="btn btn-dark">
                                            <i class="fa fa-plane"></i>
                                        </a>
                                        <a title="Licencias Médicas" href="{{ url_for('medical_licenses.index') }}/{{ employee['rut'] }}" class="btn btn-danger">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}

                        
                    </table>
                    <hr>
                    {{ m_pagination(employees) }}
                </div>
            </div>
        </div>
    </div>
</section>