<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Carga Masiva de Items</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" action="{{ url_for('hr_employee_inputs.upload') }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mes</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="month">
                                                <option value="">- Seleccionar -</option>
                                                {% for month in months %}
                                                    <option {% if month.id == period_month %} selected {% endif %} value="{{ month.id }}">{{ month.month }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Año</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="year">
                                                <option value="">- Seleccionar -</option>
                                                {% for year in years %}
                                                    <option {% if year.year == period_year %} selected {% endif %} value="{{ year.year }}">{{ year.year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Item</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" name="hr_input_description_id">
                                                <option value="">- Seleccionar -</option>
                                                {% for hr_input_description in hr_input_descriptions %}
                                                    <option {% if hr_input_description.id == hr_input_description_id %} selected {% endif %} value="{{ hr_input_description.id }}">{{ hr_input_description.hr_input_description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Archivo</label>
                                            <input type="file" value="" class="form-control" id="exampleInputEmail1" placeholder="Imagen" name="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>