<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Licencias Médicas
                            {% if is_active == 1 %}
                                <a href="{{ url_for('medical_licenses.create') }}/{{ rut }}" class="btn btn-success">Agregar</a>
                            {% endif %}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>RUT</th>
                                    <th>Folio</th>
                                    <th>Desde</th>
                                    <th>Hasta</th>
                                    <th>Tipo</th>
                                    <th>Días</th>
                                    <th>Fecha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for medical_license in medical_licenses %}
                                <tbody>
                                    <tr>
                                        <td>{{ medical_license['rut'] }}</td>
                                        <td>{{ medical_license['folio'] }}</td>
                                        <td>{{ medical_license['since'] }}</td>
                                        <td>{{ medical_license['until'] }}</td>
                                        <td>{{ medical_license['patology_type'] }}</td>
                                        <td>{{ medical_license['days'] }}</td>
                                        <td>{{ medical_license['added_date']|datetime("dd-MM-yyyy") }}</td>
                                        <td>
                                            {% if medical_license['status_id'] == 3  %}
                                                <a href="{{ url_for('medical_licenses.upload', id=medical_license['document_employee_id'], rut=medical_license['rut']) }}" class="btn btn-success">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                            {% else  %}
                                                <a href="{{ url_for('medical_licenses.download', id=medical_license['document_employee_id'], rut=rut) }}" class="btn btn-primary">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            {% endif %}

                                            {% if is_active == 1 %}
                                                <a href="{{ url_for('medical_licenses.delete') }}/{{ medical_license['document_employee_id']}}/{{ medical_license['rut']}}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar el registro?')">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}

                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>