<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span><font class="new_title">{{ new['title'] }}</font> - {{ new['added_date']|datetime("dd-MM-yyyy") }}</span>
                <hr>
                <img src="{{ url_for("static", filename="dist/files/new_data/"+new.picture) }}" class="slider">
                <hr>
                <p class="new_description">{{ description }}</p>
            </div>
        </div>
        <hr>
        <h2>Comentarios</h2>
        <hr>
        <form role="form" action="{{ url_for('comments.store') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Comentario</label>
                            <textarea class="form-control" name="comment" placeholder="Descripción" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" value="{{ new['id'] }}" name="new_id">
                <button type="submit" class="btn btn-primary">Comentar</button>
            </div>
        </form>
        <br>
        {% for comment in comments %}
            <div class="row">
                {% if comment.picture == '' or comment.picture == none %}
                    <div class="col-md-1">
                        <img src="{{ url_for("static", filename="dist/img/logo.png/") }}" class="slider">
                        <center>{{ comment.added_date|datetime("dd-MM-yyyy") }}</center>
                    </div>
                {% else %}
                    <div class="col-md-1">
                        <img src="{{ url_for("static", filename="dist/files/picture_data/"+comment.picture) }}" class="slider">
                        <center>{{ comment.added_date|datetime("dd-MM-yyyy") }}</center>
                    </div>
                {% endif %}
                
                <div class="col-md-11">
                    {{ comment.comment }}
                </div>
            </div>
            <hr>
        {% endfor %}
        <br>
    </div>
</section>