

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Modulo</th>
                                <th>Status</th>
                                <td>Opciones</td>
                            </tr>
                        </thead>
                        {% for statuses in statuses %}
                            <tbody>
                                <tr>
                                    <td>{{ statuses['statuses_id'] }}</td>
                                    <td>{{ statuses['statuses_group'] }}</td>
                                    <td>{{ statuses['statuses'] }}</td>
                                    <td>
                                        <a href="{{ url_for('statuses.edit') }}/{{ statuses['cstatuses_id'] }}" class="btn btn-warning">
                                            <i class="fa fa-id-card"></i>
                                        </a>
                                        <a href="{{ url_for('statuses.delete') }}/{{ statuses['statuses_id'] }}" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                  
                                        
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}

                        
                    </table>
                    <hr>
                
                </div>
            </div>
        </div>
    </div>
</section>