<section class="content pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ legal }}</h3>
                        <p>Feriado Legal</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-plane"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ taken_days }}</h3>
                        <p>Días Tomados</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-hand"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ balance }}</h3>
                        <p>Saldo</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-piggy-bank"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Vacaciones
                            <a href="{{ url_for('vacations.create', rut = rut) }}" class="btn btn-success">Agregar</a>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Desde</th>
                                    <th>Hasta</th>
                                    <th>Días Hábiles</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for vacation in vacations %}
                                <tbody>
                                    <tr>
                                        <td>{{ vacation['since']|datetime("dd-MM-yyyy") }}</td>
                                        <td>{{ vacation['until']|datetime("dd-MM-yyyy") }}</td>
                                        <td>{{ vacation['days']-vacation['no_valid_days'] }}</td>
                                        <td>
                                            {% if vacation['status_id'] == 4  %}
                                                <a href="{{ url_for('documental_management_data.download', id=vacation['document_employee_id']) }}" class="btn btn-warning">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            {% endif %}
                                            {% if vacation['status_id'] == 3  %}
                                                <a href="{{ url_for('documental_management_data.signed_vacation', rut=vacation['rut'], id=vacation['document_employee_id']) }}" class="btn btn-success">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a href="{{ url_for('document_requests.download', id=vacation['document_employee_id']) }}" class="btn btn-warning">
                                                    <i class="fa fa-file"></i>
                                                </a>
                                            {% endif %}
                                            <a href="{{ url_for('documental_management_data.delete', id=vacation['document_employee_id']) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar el registro?')">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if employee_extra_datum.progressive_vacation_status_id == 1 %}
            <div class="row">
                <div class="col-md-4">
                
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ progressive_vacation_legal }}</h3>
                            <p>Feriado Legal</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-plane"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ progressive_vacation_taken_days }}</h3>
                            <p>Días Tomados</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hand"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ progressive_vacation_balance }}</h3>
                            <p>Saldo</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-piggy-bank"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Vacaciones Progresivas
                                <a href="{{ url_for('progressive_vacations.create', rut = rut) }}" class="btn btn-success">Agregar</a>
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Desde</th>
                                        <th>Hasta</th>
                                        <th>Días Hábiles</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                {% for progressive_vacation in progressive_vacations %}
                                    <tbody>
                                        <tr>
                                            <td>{{ progressive_vacation['since']|datetime("dd-MM-yyyy") }}</td>
                                            <td>{{ progressive_vacation['until']|datetime("dd-MM-yyyy") }}</td>
                                            <td>{{ progressive_vacation['days']-progressive_vacation['no_valid_days'] }}</td>
                                            <td>
                                                {% if progressive_vacation['status_id'] == 4  %}
                                                    <a href="{{ url_for('documental_management_data.download', id=progressive_vacation['document_employee_id']) }}" class="btn btn-warning">
                                                        <i class="fa fa-arrow-down"></i>
                                                    </a>
                                                {% endif %}
                                                {% if progressive_vacation['status_id'] == 3  %}
                                                    <a href="{{ url_for('documental_management_data.signed_vacation', rut=progressive_vacation['rut'], id=progressive_vacation['document_employee_id']) }}" class="btn btn-success">
                                                        <i class="fa fa-arrow-up"></i>
                                                    </a>
                                                    <a href="{{ url_for('document_requests.download', id=progressive_vacation['document_employee_id']) }}" class="btn btn-warning">
                                                        <i class="fa fa-file"></i>
                                                    </a>
                                                {% endif %}
                                                <a href="{{ url_for('documental_management_data.delete', id=progressive_vacation['document_employee_id']) }}" class="btn btn-danger">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>