{% from 'macro/_pagination.html' import m_pagination %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <td></td>
                            </tr>
                        </thead>
                        {% for check in checks.items %}
                            <tbody>
                                <tr>
                                    <td>{{ check['id'] }}</td>
                                    <td></td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}

                        
                    </table>
                    <hr>
                    {{ m_pagination(checks) }}
                </div>
            </div>
        </div>
    </div>
</section>