{% extends 'layouts/login_base.html' %}
{% block content %}
    <div class="login-logo">
        <img src="{{ url_for("static", filename="dist/img/logo.png") }}">
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if category == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <form action="{{ url_for('auth.login') }}" method="post">
                {{ form.csrf_token() }}

                <div class="input-group">
                    {{ form.rut.label }}
                </div>
                <div class="input-group mb-3">
                    {{ form.rut(class='form-control rut', placeholder="RUT") }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    {{ form.password.label }}
                </div>
                <div class="input-group mb-3">
                    {{ form.password(class='form-control', placeholder="Contraseña") }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                {{ form.next() }}

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-jis">Ingresar</button>
                    </div>
                </div>
                <br>
                <center><a href="{{ url_for('auth.recover') }}">¿Usted ha olvido la contraseña?</a></center>
            </form>

            <script>
                var params = new URLSearchParams(window.location.search)
                if(params.has('next'))
                    document.getElementById('next').value = params.get('next')
                    console.log(params.get('next'))
            </script>
        <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}